## Overview
In database analytics, an aggregate function or aggregation function is a function where the values of multiple rows are grouped together to form a single summary value. 

Common aggregate functions include:
* Average (i.e., arithmetic mean)
* Count
* Maximum
* Median
* Minimum
* Mode
* Range
* Sum

---
### Agenda
* Filtering
* Grouping by Category
* Pivot Tables

---
### Introducing Sample Dataset

This dataset contains shared micromobility vehicle trip data reported to the City of Austin Transportation Department as part of the Shared Small Vehicle Mobility Systems operating rules.

Data Source: https://data.austintexas.gov/Transportation-and-Mobility/Shared-Micromobility-Vehicle-Trips/7d8e-dm7r

---
#### Your Turn

In [1]:
# write the code to import the scooter.csv file into a Pandas DataFrame

In [4]:
import pandas as pd
df=pd.read_csv('assets/scooter.csv')
df.head()

,ID,Device ID,Vehicle Type,Trip Duration,Trip Distance,Start Time,Month,Hour,Day of Week,Year,Census Tract Start
0,72dc1f62-a806-4550-8c4f-f1c82af9bc5d,ad15e5ad-77d2-4e31-81bc-092352903095,scooter,426,0.0,3/2/20 10:45,3,11,1,2020,48055960101
1,e9472991-4e28-4157-b33c-b1038c87b1ed,ad15e5ad-77d2-4e31-81bc-092352903095,scooter,1932,0.0,3/2/20 20:30,3,21,1,2020,48055960101
2,78d1bf17-a704-40a6-9c3d-3f85658735f2,ad15e5ad-77d2-4e31-81bc-092352903095,scooter,196,0.0,3/3/20 1:00,3,1,2,2020,48055960101
3,30c963fb-80cc-498e-b8f3-d21780ea7ecf,f856ac74-42b4-490c-bad1-bcf82aadecf9,scooter,362,0.0,3/11/20 9:45,3,10,3,2020,48209010901
4,e5f84de0-033c-48bc-ba6a-470322e0daa0,f856ac74-42b4-490c-bad1-bcf82aadecf9,scooter,437,0.0,3/11/20 11:45,3,12,3,2020,48209010901

In [2]:
# write the code to preview the first five rows of the data

### Pivot Table