## Overview
In database analytics, an aggregate function or aggregation function is a function where the values of multiple rows are grouped together to form a single summary value. 

Common aggregate functions include:
* Average (i.e., arithmetic mean)
* Count
* Maximum
* Median
* Minimum
* Mode
* Range
* Sum

---
### Agenda
* Introducing Data Set
* Filtering
* Grouping by Category

---
### Introducing Sample Data Set

This dataset contains shared micromobility vehicle trip data reported to the City of Austin Transportation Department as part of the Shared Small Vehicle Mobility Systems operating rules.

Data Source: https://data.austintexas.gov/Transportation-and-Mobility/Shared-Micromobility-Vehicle-Trips/7d8e-dm7r

---
#### Your Turn

In [1]:
# write the code to import the scooter.csv file into a Pandas DataFrame
# remember to reference your library dependencies

![preview](https://github.com/kevinclee26/nebula_ds/blob/master/class_d5/images/image1.png?raw=true)

In [2]:
# write the code to preview the first five rows of the data

#### Activity
Using the documentation online and the preview of your data. Describe what data is captured in each column. What does each row represent?

#### Your Turn
(Type Your Answer Here)

#### Your Turn

In [ ]:
# Pass the DataFrame to the len() function to check the number of records 
# in this dataset

---
### Filtering
Data filtering is the process of choosing a smaller part of your data set and using that subset for viewing or analysis. Filtering is generally (but not always) temporary – the complete data set is kept, but only part of it is used for the calculation.

Filtering may be used to:
* Look at results for a particular period of time.
* Calculate results for particular groups of interest.
* Exclude erroneous or "bad" observations from an analysis.
* Train and validate statistical models.

![filter](https://github.com/kevinclee26/nebula_ds/blob/master/class_d5/images/image2.png?raw=true)

#### Activity
#### Use Boolean Values to Filter Desired Data
Filtering requires you to specify a rule or logic to identify the cases you want to included in your analysis. Filtering can also be referred to as “subsetting” data, or a data “drill-down”. In this article we illustrate a filtered data set and discuss how you might use filtering.

In [8]:
# Use the .loc[] method to filter data

---
### Group By
The GROUPBY method allows you to arrange the rows of a query in groups. The groups are determined by the columns that you specify in the GROUP BY clause. GROUPBY method is used for aggregate functions.

![group by](https://github.com/kevinclee26/nebula_ds/blob/master/class_d5/images/image3.png?raw=true)

In [19]:
# Use the df.groupby function to calculate the count based on the category

In [10]:
# Use the df.groupby function to calculate sums and averages based on 
# the category

In [18]:
import matplotlib.pyplot as plt
df[['ID', 'Day of Week']].groupby('Day of Week').count()
# plt.show()

                ID
Day of Week
0            34278
1            21905
2            23401
3            19933
4            23144
5            26562
6            31219

![bar](https://github.com/kevinclee26/nebula_ds/blob/master/class_d5/images/image4.png?raw=true)

#### Your Turn

In [17]:
# groupby function